.reveal{
    opacity: 0;
    transition: all 1.5s ease-in;
}

.reveal.active{

    opacity: 1;
}

.reveal1{
    opacity: 0;
    transition: all 2.5s ease-in;
}

.reveal1.active{

    opacity: 1;
}

