/* .portfolio:hover{

    background: transparent;
}

.portfoliotext:hover{

    width: 280px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.dp:hover{

    background: transparent;
}

.dptext:hover{

    width: 280px;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.yunana:hover{

    background: transparent;
    transition: 1s;
}

.yunanatext:hover{

    width: 280px;
    height: 310px;
    border: 2px solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    transition: 1s;
} */